{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}

<div class="center-column">   
       
    <div class="post projetos">
        <div class="post-content">
            <center><Img src="{% static "agoraunicamp/images/agora-svg.svg" %}" width="250" style="margin-top:50px"></Img></center>
          <div class="post-header" style="padding-bottom:40px">
              
            <center><h3>Seu espaço de conhecimento, debate, participação e decisão!</h3></center>
            <center><div style="padding:20px">A Ágora é uma plataforma-piloto de consulta pública e faz parte do projeto DEMOS (Democracia e Dados Sociais) desenvolvido na Faculdade de Engenharia Elétrica da UNICAMP. Para conhecer mais sobre a Ágora e outras tecnologias desenvolvidas, clique aqui. </div></center>
          </div>         
          <div class="post-text">
          <h4>Escolha abaixo um dos  temas abertos para cosulta e participe! </h4>             
          <ul class="nav">
          {% for projeto in projetos %}
          <li class="box-project"><a style="color:black;" href="{% url 'agoraunicamp:atualiza-projeto' projeto.projeto %}">{{projeto.projeto}}</a></li>
          {% if projeto.etapa_prj == '1' %}
          <div class="box-status"> Status - Etapa 1 de 5 - Conhecendo as ideias</div>
          {% endif %}
          {% if projeto.etapa_prj == '2' %}
          <div class="box-status"> Status - Etapa 2 de 5 - Escolhendo os Temas</div>
          {% endif %}
          {% if projeto.etapa_prj == '3' %}
          <div class="box-status"> Status - Etapa 3 de 5 - Debatendo os Temas</div>
          {% endif %}
          {% if projeto.etapa_prj == '4' %}
          <div class="box-status"> Status - Etapa 4 de 5 - Selecionando as Propostas</div>
          {% endif %}
          {% if projeto.etapa_prj == '5' %}
          <div class="box-status"> Status - Etapa 5 de 5 - Resultados e Deliberaçoes</div>
          {% endif %}




          {% endfor %}
        </ul>
          
          </div>
        </div>
        
        <div class="post-right">
        
        </div>
      </div>
</div>
<script src="{% static 'agoraunicamp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'agoraunicamp/js/d3.min.js' %}"></script>
<script src="{% static 'agoraunicamp/js/scripts.js' %}"></script>



{% endblock content12 %}