<div id="agora-configuracoes" class="post configuracoes">

  <div class="post-content">
    <div class="post-header">
      <h3> Configurações </h3>
    </div>

    <div class="post-text">
      <div> Olá, {% if nickname %} {{nickname}} {% else %} {{user.primeiro_nome}} {% endif %} ! Gostaria de alterar o seu perfil?
      </div>

      <div class="form-config-agora">
        <label>Como gostaria de ser chamado?</label>
        <form action="{% url 'agoraunicamp:apelido-config' %}" method="post" role="form">
          <textarea value="" name="text-apelido" placeholder="{{user.nickname}}" class="form-control" style="height:50px;"></textarea>
          <button class="post-btn post-btn-success" type="submit" style="margin-top:10px;margin-bottom:10px;">Enviar</button>
        </form>

        <form action="{% url 'agoraunicamp:apelido-remove' %}" method="post" role="form">
          <button class="post-btn post-btn-success" type="submit">Remover apelido</button>
        </form>
      </div>
      
      <div class="form-config-agora">
        <form action="{% url 'agoraunicamp:email-config' %}" method="post" role="form">
          <label for="email">Gostaria de incluir um novo endereço de Email?</label>
          <textarea class="form-control" placeholder="{{user.email}}" type="email" name="text-email" style="margin-bottom:10px;height:50px;"></textarea>
          <button class="post-btn post-btn-success" type="submit">Enviar</button>
        </form>
      </div>

      <div class="form-config-agora">
        
          <label for="email">Gostaria de alterar a imagem do seu avatar?</label>
          <div id="avatar-configu" class="comment-avatar" style="padding:10px">
              <img class="avatar" src="{{user.avatar.url}}" style="margin:0 auto;display:block" />
            </div>
            <form method="post"  class="xxx" action="{% url 'agoraunicamp:simple-upload' %}" enctype="multipart/form-data">
              {% csrf_token %} 
              <label for="image_to_upload" class="post-btn post-btn-success" style="padding:16px;white-space:normal">Adicionar nova imagem</label>
              <input type="file" name="myfile" id="image_to_upload" >
              <button class="post-btn post-btn-success" type="submit" style="margin-top:10px">Alterar</button>
            </form>
     
      </div>

    </div>
  </div>
</div>