{% extends 'agoraunicamp/base.html' %}
{% load staticfiles %}
{% load set_var %}
{% block content12 %}


<div class="center-column">
	
	{% include 'agoraunicamp/agora-projeto-header.html' %}	
	
	<div id="post-config" style="display:none">
	{% include 'agoraunicamp/agora-configuracoes.html' %}
	</div>	
	
	{% include 'agoraunicamp/agora-projeto-etapas.html' %}

	{% if artigos %}
	{% for artigo in artigos %}
		{% include 'agoraunicamp/publicacoes/article.html' %}
	{% endfor %}	
	{% endif %}

	{% if relatorios %}
	{% for relatorio in relatorios %}
		{% include 'agoraunicamp/publicacoes/result.html' %}
	{% endfor %}	
	{% endif %}

	{% if questoes %}
	{% for questao in questoes %}
		{% include 'agoraunicamp/publicacoes/question.html' %}
	{% endfor %}	
	{% endif %}

	{% if debates %}
	{% for debate in debates %}	
		{% include 'agoraunicamp/publicacoes/debate.html' %}
	{% endfor %}	
	{% endif %}

</div>




</div>
<script src="{% static 'agoraunicamp/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'agoraunicamp/js/scripts.js' %}"></script>





{% endblock content12 %}




 