{% extends 'agora/base.html' %}
{% load set_var %}
{% block content12 %}

    <div style="position:relative;background:#ffffff;width:1050px;z-index:2;top:40px">    
        <div style="background:#f7f7f7;font-size:40px;padding:20px">Plano Diretor Participativo - UNICAMP</div>
        
      
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:home' %}"><div style="text-color:#e2e0e0;text-align:center;padding:10px;position:relative;height:40px;background:#e2e0e0;width:175px;float:left;">Home Ágora</div></a> 
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f7f7f7;width:175px;float:left">Página Inicial</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'conheca:pdpu-conheca' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#00c0ef;width:175px;float:left">Conheça</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu-participe' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#12d673;width:175px;float:left">Participe</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'resultados:pdpu-resultados' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f39c12;width:175px;float:left">Resultados</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'forum:home' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f56954;width:175px;float:left">Comunidade</div></a>  
 </div>




<section class="content" style="background:#ffffff">
<div class="row" style="position:relative;margin-top:80px;z-index:3">
<!-- .small-box -->

            <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
            <div class="inner">
              <h3>CONHEÇA</h3>
              <div>
              {% for article in article %}
              
                   
                    <li><a style="color:#ffffff" href="#" onclick="window.open('{{article.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><font size="5">{{ article.title }}</font></li> </a>
                    {{ article.publ_date}}
                    {% for tag in article.tags.all %}
                        <a class="btn-xs btn-default btn-info" href="#" role="button">#{{ tag.name }}</a>
                    {% endfor %}
                   
              
             
              <br/><br/>
              {% endfor %}  
              </div>
          </div>            
              <a href="{% url 'conheca:pdpu-conheca' %}" class="small-box-footer">
                  Mais informações <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
          </div><!-- /.small-box -->

          <!-- .small-box -->
          <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
          <div class="inner">
              <h3>PARTICIPE</h3>
                <div>
            
            
               {% for question in not_answered %}             
                   
                   <li><a style="color:#ffffff" href="#" onclick="window.open('{{question.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><font size="5">{{ question }}</font></li> </a>
                    
                    Expira em: {{ question.exp_date }}                    
                    {{ question.publ_date}}
                    {% for tag in question.tags.all %}
                        <a class="btn-xs btn-default btn-info" href="#" role="button">#{{ tag.name }}</a>
                    {% endfor %}          


                    
             
              <br/><br/>
              {% endfor %}  
                </div>  
          </div>
            <a href="{% url 'agora:pdpu-participe' %}" class="small-box-footer">
            Mais informações <i class="fa fa-arrow-circle-right"></i> </a>       
          </div>
          </div><!-- /.small-box -->
       
        <!-- .small-box -->
          <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
          <div class="inner">
              <h3>RESULTADOS</h3>
                <div>
                    {% for relatorio in relatorio %}
              
                   
                    <li><a style="color:#ffffff" href="#" onclick="window.open('{{relatorio.address}}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><font size="5">{{ relatorio.titulo }}</font></li> </a>
                    {{ relatorio.publ_date}}
                    {% for tag in relatorio.tags.all %}
                        <a class="btn-xs btn-default btn-info" href="#" role="button">#{{ tag.name }}</a>
                    {% endfor %}
                   
              
             
              <br/><br/>
              {% endfor %}              



                </div>
            </div>
            <a href="{% url 'resultados:pdpu-resultados' %}" class="small-box-footer">
              Mais informações <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div><!-- /.small-box -->

        <!-- .small-box -->
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
        <div class="inner">
              <h3>COMUNIDADE</h3>
        </div>
           
            <a href="{% url 'forum:home' %}" class="small-box-footer">
              Mais informações <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
        </div><!-- /.small-box -->
</div><!-- /.row -->
</section>


    {% endblock content12 %}