{% extends 'agora/base.html' %}

{% block content %}
  <div>
    <div class="page-header" id="overflow">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP
          <small>Participe</small>
        </h1>
        <h5>
          <ol class="breadcrumb">
            <li><a href="{% url 'agora:home' %}"><i class="fa fa-home"></i> Página Inicial</a></li>
            <li><a href="{% url 'agora:pdpu' %}">Plano Diretor Participativo - UNICAMP</a></li>
            <li class="active">Participe</li>
          </ol>
        </h5>
      </section>
     </div>
   </div>
{% endblock content %}

{% block content12 %}
  <div>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}

    {% for question in not_answered %}
      </br>
      <div style="border:1px solid #67dca1;">
        <div id="mf-eventos-atuais" style="background:#67dca1; border-bottom:1px solid #67dca1; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">Questão {{question.id}}
        </div>
        <div id="mf-eventos-atuais" style="padding:0.4em 1em 0.3em;">
          <p>
            <strong>Categorias:</strong>
            {% for tag in question.tags.all %}
              <a class="btn-xs btn-default btn-info" href="#" role="button">#{{ tag.name }}</a>
            {% endfor %}
            &nbsp;&nbsp;&nbsp;
            <strong>Publicado em:</strong> {{ question.pub_date }}
            &nbsp;&nbsp;&nbsp;
            <strong>Expira em:</strong> {{ question.exp_date }}

          </p>
          <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #67dca1; padding-top:0.4em; margin-top:0.8em; font-size:95%; font-weight:bold;">
          </div>
          <h1>{{ question }}</h1>
          {% if question.image %}
            <img src="{{ question.image.url }}" width="350px" height="250px" />
          {% endif %}

          <form action="{% url 'agora:vote' question.id %}" method="post">
          {% csrf_token %}
          {% if question.question_type == 'o' %}
            <ul class="list-group">
              {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                  <input class="btn btn-default" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label for="choice{{ choice.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ choice.choice_text }}</label><br />
                </li>
              {% endfor %}
            </ul>
          {% elif question.question_type == 'm' %}
            <ul class="list-group">
              {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                  <input class="btn btn-default" type="checkbox" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label for="choice{{ choice.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ choice.choice_text }}</label><br />
                </li>
              {% endfor %}
            </ul>
          {% elif question.question_type == 't' %}
            <textarea class="form-control" name="text" id="question_text{{ question.id }}" value="" rows="3"></textarea><br />
          {% endif %}
          <input class="btn btn-default btn-info" type="submit" value="Enviar" />
        </form>
        <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #cef2e0; padding-top:0.4em; margin-top:0.8em; font-size:95%; font-weight:bold;"></div>
      </div>
    <br />
   {% endfor %}
  </div>
{% endblock content12 %}
