{% extends 'agora/base.html' %}
{% block content %}
<div class="navbar navbar-static-top" id="overlay" style="top:50px;position:fixed;background:white;width:100%;opacity:1;left:220px;">
  <section class="content-header">
    <h1> Plano Diretor Participativo - UNICAMP <small>Conheça</small></h1>
  </section>
  <ol class="breadcrumb">
    <li><a href="\agora"><i class="fa fa-dashboard"></i> Página Inicial</a></li>
    <li><a href="\agora\pdpu"><i class="fa fa-dashboard"></i> PDPU</a></li>
    <li class="active">Conheça</li>
  </ol>
</div>
{% endblock content %}

{% block content12 %}
<div  style="position: absolute; top: 200px;width:100%" > 
  <h2>Publishers</h2>
  <ul>
    {% for AdicionaLink in object_list %}
      <li><a  href="{{ AdicionaLink.url }}">{{ AdicionaLink.titulo }} </a>
        <small>Conheça</small>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content12 %}
