{% extends 'agora/base.html' %}

{% block content %}
  <div>
    <div class="page-header" id="overflow">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP
          <small>Participe</small>
        </h1>
        <h5>
          <ol class="breadcrumb">
            <li><a href="{% url 'agora:home' %}"><i class="fa fa-home"></i> Página Inicial</a></li>
            <li><a href="{% url 'agora:pdpu' %}">Plano Diretor Participativo - UNICAMP</a></li>
            <li class="active">Participe</li>
          </ol>
        </h5>
      </section>
     </div>
   </div>
{% endblock content %}

{% block content12 %}
  <div>
    {% for question in not_answered %}
      <div style="border:1px dashed black; padding:25px; margin:10px 50px 0px 50px">
        <h1>{{ question }}</h1>
        <ul style="list-style-type:none; margin-left:-40px">
          Categorias:
          {% for tag in question.tags.all %}
            <li style="background-color:#7ea4b3; display:inline; margin-right: 10px;">#{{ tag.name }}</li>
          {% endfor %}
        </ul>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        {% if question.image %}
          <img src="{{ question.image.url }}" width="350px" height="250px" />
        {% endif %}

        <form action="{% url 'agora:vote' question.id %}" method="post">
          {% csrf_token %}
          {% if question.question_type == 'o' %}
            <ul class="list-group">
              {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                  <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br />
                </li>
              {% endfor %}
            </ul>
          {% elif question.question_type == 'm' %}
            <ul class="list-group">
              {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                  <input type="checkbox" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br />
                </li>
              {% endfor %}
            </ul>
          {% elif question.question_type == 't' %}
            <textarea name="text" id="question_text" value="" rows="4" cols="100" ></textarea><br />
          {% endif %}
          <input type="submit" value="Enviar" />
        </form>
      </div>
      <br />
    {% endfor %}
  </div>
{% endblock content12 %}
