{% extends 'agora/base.html' %}

{% block content %}
  <div>
    <div class="page-header" id="overflow">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP
          <small>Fórum</small>
        </h1>
        <h5>
          <ol class="breadcrumb">
            <li><a href="{% url 'agora:home' %}"><i class="fa fa-home"></i> Página Inicial</a></li>
            <li><a href="{% url 'agora:pdpu' %}">Plano Diretor Participativo - UNICAMP</a></li>
            <li><a href="{% url 'forum:home' %}">Fórum</a></li>
            <li class="active">{{ category }}</li>
          </ol>
        </h5>
      </section>
     </div>
   </div>
{% endblock content %}

{% block content12 %}
  <div style="padding:30px">
    <center><h1>{{ category }}</h1></center>
    {% if topics_list %}
      <ul class="list-group">
        {% for topic in topics_list %}
          <li class="list-group-item btn btn-default">{{ topic }}</li>
          {# <a href="{% url 'forum:topic' topic.id %}"></a> #}
        {% endfor %}
      </ul>
    {% else %}
      Não há tópicos neste fórum.
    {% endif %}
  </div>
{% endblock content12 %}


