{% extends 'agora/base.html' %}

{% block content %}
  <div>
    <div class="page-header" id="overflow">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP
          <small>Fórum</small>
        </h1>
        <h5>
          <ol class="breadcrumb">
            <li><a href="{% url 'agora:home' %}"><i class="fa fa-home"></i> Página Inicial</a></li>
            <li><a href="{% url 'agora:pdpu' %}">Plano Diretor Participativo - UNICAMP</a></li>
            <li class="active">Fórum</li>
          </ol>
        </h5>
      </section>
     </div>
   </div>
{% endblock %}

{% block content12 %}
  <div style="padding:30px">
    {% if categories_list %}
      <ul class="list-group">
        {% for category in categories_list %}
          <li class="list-group-item btn btn-default"><a href="{% url 'forum:forum' category|slugify category.id %}">{{ category }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
