{% extends 'agora/base.html' %}

{% block content %}
  <div>
    <div class="page-header" id="overflow">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP
          <small>Fórum</small>
        </h1>
        <h5>
          <ol class="breadcrumb">
            <li><a href="{% url 'agora:home' %}"><i class="fa fa-home"></i> Página Inicial</a></li>
            <li><a href="{% url 'agora:pdpu' %}">Plano Diretor Participativo - UNICAMP</a></li>
            <li><a href="{% url 'forum:home' %}">Fórum</a></li>
            {# <li><a href="{% url 'forum:forum' category|slugify category.id %}">{{ category }}</a></li> #}
            <li class="active">{{ topic }}</li>
          </ol>
        </h5>
      </section>
     </div>
   </div>
{% endblock %}

{% block content12 %}
  <div style="padding:30px">
    <div>
      {% if topic %}
        <center><h1>{{ topic }}</h1> <span>Publicado em: {{ topic.pub_date }} </span></center>
        <div style="border:dashed;padding:30px">
          <p>{{ topic.text|safe }}</p>
        </div>
        {% for answer in answers %}
        <div style="border:dashed;padding:30px">
          <p>{{ answer.text|safe }}</p>
          <p>Publicado em: {{answer.answer_date}}</p>
        </div>
        {% endfor %}
      {% endif %}
      <br /><br />
      {% if not user_answered %}
        <center><form action="{% url 'forum:answer' topic.id %}" method="post">
          {{ answer_form.media }}
          {{ answer_form }}
          <br/><input class="btn btn-default btn-info" type="submit" value="Responder" />
        </form></center>
      {% endif %}
    </div>
  </div>
{% endblock content12 %}


