{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .links line {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #fff;
            stroke-width: 1.5px;
        }
    </style>
    <link rel="icon" href="{% static 'agora/bootstrap/docs/favicon.ico' %}">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <title>Resultados do ECC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'agora/css/reset.css' %}">
    <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'agora/css/style.css' %}">_+
    <!-- Resource style -->
    <link href="{% static 'agora/css/extrator.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'agora/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'agora/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'agora/css/grayscale.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'agora/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'agora/bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'agora/js/modernizr.js' %}"></script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src=""></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'agora/bootstrap/docs/examples/carousel/carousel.css' %}" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background:white;font-family:verdana">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>
                    <span class="light">Ágora Unicamp</span> demos </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ajuste">Ajustes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo1">Passo 1</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo2">Passo 2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo3">Passo 3</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo4">Passo 4</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo5">Passo 5</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resultados">Resultados</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro" style="background:#4d4d4d">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            <span style="color:#FACE83">D</span>
                            <span style="color:#FF9858">E</span>
                            <span style="color:#F65F47">M</span>
                            <span style="color:#EE2E3A">O</span>
                            <span style="color:#3F7C7F">S</span>
                        </h1>
                        <p class="intro-text">Democracy and Social Data.
                            <br>

                        </p>
                        <p>A Collective Opinion Extraction Algorithm</p>
                        <a href="#ajuste" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="ajuste" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="margin-top:-50px;">
                <h2>Ajuste de Parâmetros</h2>
                <div class="container marketing" style="margin:0 auto;width:80%">
                    <a href="{% url 'extrator:limpar_lista_subtantivos' 'opum' %}" class="botao_ajuste">Limpar Palavras Ignoradas</a>
                    <a href="{% url 'extrator:limpar_lista_subtantivos' 'opdois' %}" class="botao_ajuste">Limpar lista de Substantivos</a>
                    <a href="{% url 'extrator:ajustar_parametro' 'opcao4' %}" class="botao_ajuste">Carregar parâmetros</a>

                    <div class="titulo_ajuste">Métricas</div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao8' %}" method="POST" role="form" enctype="multipart/form-data">
                            <div style="display:inline-block">
                                <input type="checkbox" name="checks" {{check_g}} value="grau"> Graus
                                <input type="checkbox" name="checks" {{check_b}} value="betw"> Betweenness
                                <input type="checkbox" name="checks" {{check_c}} value="clos"> eigenvector
                            </div>
                            <div style="display:inline-block;position:absolute;margin-top:3px;margin-left:10px;">
                                <input type="submit" class="botao_enviar" value="Enviar">
                            </div>
                        </form>
                    </div>

                    <div class="titulo_ajuste">Quantidade de Tweets </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao6' %}" method="POST" role="form" enctype="multipart/form-data">
                            n =
                            <input style="width:100px" type="number" step="1" name="valor_nt" value={{valornt}} size="1"> Tweets
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>

                    <div class="titulo_ajuste">Permitir Retweets</div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao7' %}" method="POST" role="form" enctype="multipart/form-data">
                            <div style="display:inline-block">
                                <input type="radio" name="display_type" {{check_sim}} value="sim"> Sim
                                <br>
                                <input type="radio" name="display_type" {{check_nao}} value="nao"> Não
                            </div>
                            <div style="display:inline-block;position:absolute;margin-top:3px;margin-left:10px;">
                                <input type="submit" class="botao_enviar" value="Enviar">
                            </div>
                        </form>
                    </div>

                    <div class="titulo_ajuste">Valor de k </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao0' %}" method="POST" role="form" enctype="multipart/form-data">
                            k =
                            <input style="width:50px" type="number" step="1" name="valor_k" value={{valork}} size="1"> % dos nós da rede
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Faixa de intervalo do Histograma</div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao1' %}" method="POST" role="form" enctype="multipart/form-data">
                            faixa =
                            <input style="width:80px" type="number" step="any" name="faixa_histo" value={{xxxx}} size="1" , min="0" max="3">
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Porcentagem máxima de nós da rede para um cluster </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao2' %}" method="POST" role="form" enctype="multipart/form-data">
                            fc =
                            <input style="width:50px" type="number" step="1" name="valor_fc" value={{valorfc}} size="1"> % dos nós totais
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Frequência mínima do bigrama </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao3' %}" method="POST" role="form" enctype="multipart/form-data"> fb =
                            <input style="width:50px" type="number" step="1" name="valor_fb" value={{valorfb}} size="1"> % de todos os bigramas do tema
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Acuidade de Extração </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao5' %}" method="POST" role="form" enctype="multipart/form-data"> ae =
                            <input style="width:50px" type="number" step="1" name="valor_ae" value={{valorae}} size="1"> % de todas as extrações
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Representatividade mínima</div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao9' %}" method="POST" role="form" enctype="multipart/form-data">
                            <div style="display:inline-block">
                                <input type="radio" name="radios" {{radios_1}} value="0.9"> Muito Alta
                                <input type="radio" name="radios" {{radios_2}} value="0.8"> Alta
                                <input type="radio" name="radios" {{radios_3}} value="0.7"> Alta Baixa
                                <input type="radio" name="radios" {{radios_4}} value="0.4"> Média
                                <input type="radio" name="radios" {{radios_5}} value="0.0"> Baixa
                            </div>
                            <div style="display:inline-block;position:absolute;margin-top:3px;margin-left:10px;">
                                <input type="submit" class="botao_enviar" value="Enviar">
                            </div>
                        </form>
                    </div>
                    <div class="titulo_ajuste">Quantidade de Cluster para os Temas Principais </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao10' %}" method="POST" role="form" enctype="multipart/form-data">
                            nc =
                            <input style="width:50px" type="number" step="1" name="valor_nc" value={{valor_nc}} size="1"> Cluster(s)
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="extracao" class="container content-section text-center" style="position:relative;padding-top:0px">

        <!-- INÍCIO DO PASSO 1 -->
        <div class="inicio_timeline">
            <b>PASSO 1</b>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo1">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_twitter" class="fa fa-twitter" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2 style="margin-bottom:15px">Dados do Twitter</h2>
                        <form style="display:inline-block;text-shadow:none;color:black;" action="{% url 'extrator:dados_twitter' %}" method="POST"
                            role="form" enctype="multipart/form-data">
                            <input style="display:block" type="text" name="hashtag" placeholder="Digite uma palavra...">
                            <input style="margin-top:15px;margin-left:35%" class="cd-read-more" type="submit" value="Carregar">
                        </form>
                        {% if tempo_p1dt %}
                        <span class="cd-date" style="margin-left:-185px;"> {{tempo_p1dt}} s - {{contador_nt}} tweets </span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_vis_dados" class="glyphicon glyphicon-search" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 style="margin-bottom:15px">Inserir Dados manualmnte</h2>
                        <a href="{% url 'extrator:dados' %}" style="text-decoration:none;margin-left:45%;" class="cd-read-more">Abrir</a>
                        {% if tempo_p1vd %}
                        <span class="cd-date">{{tempo_p1vd}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_salvar_dados" class="glyphicon glyphicon-floppy-disk" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 style="margin-bottom:15px">Salvar Dados</h2>
                        <a href="{% url 'extrator:salvar_iniciais' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Salvar</a>
                        {% if tempo_p1sd %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p1sd}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_corretor" class="glyphicon glyphicon-pencil" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 style="margin-bottom:15px">Corrigir ortografia</h2>
                        <a href="{% url 'extrator:corretor' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Corrigir</a>
                        {% if tempo_p1co %}
                        <span class="cd-date">{{tempo_p1co}} s</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        {% if documento %}
        <!-- RESULTADOS DO PASSO 1  -->
        <div class="result-content" id="resultado-passo-1">
            <div style="padding:50px">{{documento|linebreaks}}</div>
        </div>
        {% endif %} {% if not documento %}
        <div class="sem_resultado" style="margin-top:100px">
            <b>RESULTADOS</b>
        </div>
        {% endif %}
        <!-- +++++++++++++++++++++++++++++++++++++++ FIM DO PASSO 1 +++++++++++++++++++++++++ 1  -->




        <!-- começa o PASSO 2  -->
        <div class="inicio_timeline">
            <a href="{% url 'extrator:executa_passo_2' %}" style="color:inherit;font-weight:bold">PASSO 2</a>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo2">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_preparar_dados" class="glyphicon glyphicon-file" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #F2B0E4">
                        <h2>Preparar Dados</h2>
                        <a href="{% url 'extrator:preproc' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Preparar</a>
                        {% if tempo_p2pd %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p2pd}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_lematizar" class="glyphicon glyphicon-font" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #F2B0E4">
                        <h2>Lematizar</h2>
                        <a href="{% url 'extrator:lematizador' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">lematizar</a>
                        {% if tempo_p2le %}
                        <span class="cd-date">{{tempo_p2le}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_eliminar_sw" class="glyphicon glyphicon-scissors" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #F2B0E4">
                        <h2>Eliminar Stop-words</h2>
                        <a href="{% url 'extrator:stopwords' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Eliminar</a>
                        {% if tempo_p2es %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p2es}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_salvar_bd" class="glyphicon glyphicon-floppy-save" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #F2B0E4">
                        <h2>Salvar no Banco de Dados</h2>
                        <a href="{% url 'extrator:salvar' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Salvar</a>
                        {% if tempo_p2sb %}
                        <span class="cd-date">{{tempo_p2sb}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_gerar_rp2" class="glyphicon glyphicon-list-alt" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #F2B0E4;">
                        <h2>Gerar Relatório</h2>
                        <a href="{% url 'extrator:relatorio' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                        {% if tempo_p2gr %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p2gr}} s</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <!-- RESULTADOS DO PASSO 2  -->
        {% if documento_p2 %}
        <div class="result-content" id="resultado-passo-2" style="margin-top:150px">
            <div>{{documento_p2|linebreaks}}</div>
        </div>
        {% endif %} {% if not documento_p2 %}
        <div class="sem_resultado" style="position:relative;margin-top:110px;">
            <b>RESULTADOS</b>
        </div>
        {% endif %}
        <!-- +++++++++++++++++++++++++++++++++++++++ FIM DO PASSO 2 +++++++++++++++++++++++++ 1  -->




        <!-- começa o PASSO 3  -->
        <div class="inicio_timeline">
            <a href="{% url 'extrator:executa_passo_3' %}" style="color:inherit;font-weight:bold">PASSO 3</a>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo3">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_def_vertices" class="glyphicon glyphicon-record" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #33e0a1">
                        <h2>Definir Vértices</h2>
                        <a href="{% url 'extrator:lista_vertices' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Definir</a>
                        {% if tempo_p3dv %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p3dv}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_indexar" class="glyphicon glyphicon-tags" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #33e0a1">
                        <h2>Indexar Palavras</h2>
                        <a href="{% url 'extrator:mapear' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Indexar</a>
                        {% if tempo_p3ip %}
                        <span class="cd-date">{{tempo_p3ip}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_rede" class="glyphicon glyphicon-cog" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #33e0a1">
                        <h2>Gerar Matriz</h2>
                        <a href="{% url 'extrator:matriz' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                        {% if tempo_p3gr %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p3gr}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_rede" class="glyphicon glyphicon-cog" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #33e0a1">
                        <h2>Gerar Rede Complexa</h2>
                        <a href="{% url 'extrator:rede_complexa' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                        {% if tempo_p3gr %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p3gr}} s</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <!-- RESULTADOS DO PASSO 3  -->
        {% if rede_p3 %}
        <div class="result-content" id="resultado-passo-3" style="margin-top:109px;height:600px;">
            <svg id="resultado_p3" width="960" height="600"></svg>
        </div>
        {% endif %} {% if not rede_p3 %}
        <div class="sem_resultado" style="position:relative;margin-top:74px;">
            <b>RESULTADOS</b>
        </div>
        {% endif %}
        <!-- +++++++++++++++++++++++++++++++++++++++ FIM DO PASSO 3 +++++++++++++++++++++++++ 1  -->





        <!-- começa o PASSO 4  -->
        <div class="inicio_timeline">
            <a href="{% url 'extrator:executa_passo_4' %}" style="color:inherit;font-weight:bold">PASSO 4</a>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo4">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_calc_metricas" class="glyphicon glyphicon-plus" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #EFCEAA">
                        <h2>Calcular Métricas</h2>
                        <a href="{% url 'extrator:metricas_ranking' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>
                        {% if tempo_p4cm %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p4cm}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_calc_indice" class="glyphicon glyphicon-asterisk" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #EFCEAA">
                        <h2>calcular Índice</h2>
                        <a href="{% url 'extrator:calularindice' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>
                        {% if tempo_p4ci %}
                        <span class="cd-date">{{tempo_p4ci}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_sel_temas" class="glyphicon glyphicon-th-list" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #EFCEAA">
                        <h2>Selecionar Temas</h2>
                        <a href="{% url 'extrator:selecionar_temas' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Selecionar</a>
                        {% if tempo_p4st %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p4st}} s</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <!-- RESULTADOS DO PASSO 4  -->
        {% if histo_p4 %}
        <div class="result-content" id="resultado-passo-4-histo" style="margin-top:70px;height:600px;">

        </div>
        {% endif %} {% if documento_p4 %}
        <div class="result-content" id="resultado-passo-4-doc" style="margin-top:100px">
            <div>{{documento_p4|linebreaks}}</div>
        </div>
        {% endif %} {% if not histo_p4 %}
        <div class="sem_resultado" style="position:relative;margin-top:65px;">
            <b>RESULTADOS</b>
        </div>
        {% endif %}
        <!-- +++++++++++++++++++++++++++++++++++++++ FIM DO PASSO 4 +++++++++++++++++++++++++ 1  -->





        <!-- começa o PASSO 5  -->
        <div class="inicio_timeline">
            <b>PASSO 5</b>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo5">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_twitter" class="fa fa-twitter" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2 style="margin-bottom:15px">Clusters com os Temas Principais</h2>
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao10' %}" method="POST" role="form" enctype="multipart/form-data">
                            <input style="display:block;margin:0 auto;" type="number" name="valor_nc" placeholder="n. do cluster final">

                            <input style="margin-top:15px;margin-left:35%" class="cd-read-more" type="submit" value="Carregar">
                        </form>
                        {% if tempo_p1dt %}
                        <span class="cd-date" style="margin-left:-185px;"> {{tempo_p1dt}} s - {{contador_nt}} tweets </span>
                        {% endif %}
                    </div>
                </div>


                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_agp_temas" class="glyphicon glyphicon-th-list" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #EFCEAA">
                        <h2>Agrupar Temas e Sub-temas</h2>
                        <a href="{% url 'extrator:agrupar_temas' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Agrupar</a>
                        {% if tempo_p4st %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p4st}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_agp_temas" class="glyphicon glyphicon-th-list" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #EFCEAA">
                        <h2>Gerar Mapas e Resultados</h2>
                        <a href="{% url 'extrator:gerar_mapa_resultados' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                        {% if tempo_p4st %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p4st}} s</span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <!-- fim dos passos  -->




        <!-- começa o PASSO 6  -->
        <div class="inicio_timeline">
            <b>PASSO 6</b>
        </div>

        <div id="cd-timeline" class="cd-container" style="position:relative;">
            <div id="passo6">

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_protofrases" class="glyphicon glyphicon-tasks" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #E04644">
                        <h2>Protofrases</h2>
                        <a href="{% url 'extrator:processarpfs'%}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                        {% if tempo_p5pr %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p5pr}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_map_extracao" class="glyphicon glyphicon-zoom-in" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #E04644">
                        <h2>Extração</h2> {{mess}}
                        <a href="{% url 'extrator:mapear_e_extrair' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Mapear</a>
                        {% if tempo_p5ex %}
                        <span class="cd-date">{{tempo_p5ex}} s</span>
                        {% endif %}
                    </div>
                </div>

                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <span id="logo_repres" class="glyphicon glyphicon-king" style="font-size:200%;margin-top:15px;"></span>
                    </div>
                    <div class="cd-timeline-content" style="background: #E04644">
                        <h2>Representatividade</h2>
                        <a href="{% url 'extrator:calculair' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>
                        {% if tempo_p5re %}
                        <span class="cd-date" style="margin-left:-195px;">{{tempo_p5re}} s</span>
                        {% endif %}
                    </div>
                    <div class="botao_resultados_1" style="height:0px;border:none;"></div>
                </div>

            </div>
        </div>
        <!-- fim dos passos  -->


        <div id="fim" class="botao_resultados_2">
            <a href="{% url 'extrator:resultados' 'none' %}" style="color:black">
                <b>RESULTADOS</b>
            </a>
        </div>

        {% if tempo_p2a5 %}
        <span class="cd-date" style="margin-left:10px;">{{tempo_p2a5}} s</span>
        {% endif %}

    </section>





    <!-- About Section -->
    <section id="resultados" class="container content-section text-center" style="background:white;">

        <div style="padding:30px;margin:0 auto;font-size:1.5em;font-weight:bold"> MAPA DE TEMAS</div>
        <resultados style="margin: 0 auto"></resultados>
        <div style="padding:10px;text-align:left"> LEGENDA </div>
        <div id="legend" style="margin:0 auto;text-align:center"></div>

    </section>






    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contato</h2>
                <p>Sinta-se livre para opinar e dar feedback sobre o projeto.
                </p>
                <p>
                    <a href="mailto:tiagonovaesangelo@gmail.com">tiagonovaesangelo@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">

                    <li>
                        <a href="https://github.com/msvolenski/virtual-agora" class="btn btn-default btn-lg">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>


        <div class="container text-center">
            <p>Copyright &copy; Agora Unicamp 2017</p>
            {{popup}}
        </div>
    </footer>

    {%if popup %}
    <div id="myModal" class="modal in fade" role="dialog" style="display:block;overflow:auto">
        <div class="modal-dialog" id="modal-dialog-mob" style="width: 40%;margin-bottom:10px;">
            <div class="modal-content">
                <div style="color:black;padding:10px;margin:10px;font-size:120%">Palavra não reconhecida:</div>
                <a class="glyphicon glyphicon-remove-circle" href="{% url 'extrator:atualiza_corretor' 'nones' 0 'opcao5' %}" style="display:inline;float:right;color:black;font-size:200%;margin-top:-40px;margin-right:30px"></a>
                <div style="border:1px solid black;margin:10px 30px 10px 30px">
                    <div style="color:black;padding:5px;font-size:20px;text-align:center;margin-bottom:10px 10px 0px 10px;font-size:150%">
                        <b>{{palavra}}</b>
                    </div>
                </div>
                <div style="color:black;padding:10px;font-size:120%;margin:10px">Faça uma das 5 opções: </div>
                <div style="border:0.5px solid black;margin:10px 30px 30px 30px">
                    <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Ignorar "{{palavra}}": </div>
                    <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao0' %}" style="padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Ignorar</a>
                    <hr style="border-top: 1px solid #848484">

                    <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Incluir "{{palavra}}" ao dicionário: </div>
                    <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao1' %}" style="padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Adicionar</a>
                    <hr style="border-top: 1px solid #848484">
                    <div style="color:black;padding:10px;font-size:120%;margin:10px">Substituir "{{palavra}}" por uma das sugestões: </div>
                    <div style="margin:0px 20px 0px 20px">
                        {% for sugestao in lista_de_sugestoes %}
                        <a href="{% url 'extrator:atualiza_corretor' sugestao posicao 'opcao2' %}" style="padding:8px;margin:5px;display:inline-block;color:black;text-align:center;background:#e07070">{{sugestao}}</a> {% endfor %} {% if not lista_de_sugestoes %}
                        <div style="margin-left:40%;">não há sugestões</div>
                        {% endif %}
                    </div>
                    <hr style="border-top: 1px solid #848484">
                    <div style="color:black;padding:10px;font-size:120%;margin:10px">Substituir "{{palavra}}" e adicionar ao dicionário: </div>
                    <div style="margin-left:5%;margin-bottom:20px">
                        <form action="{% url 'extrator:atualiza_corretor' 'null' posicao 'opcao3' %}" method="POST" role="form" enctype="multipart/form-data">
                            <input type="text" name="sugestao_usr" required="required">
                            <input style="padding:10px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="Substituir"
                                name="substituir">
                            <input style="padding:10px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="Substituir todas as ocorrências"
                                name="todas">
                        </form>
                    </div>
                    <hr style="border-top: 1px solid #848484">
                    <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Adicionar "{{palavra}}" às stop-words (a palavra aparecerá novamente para escolha de uma das opções acima):
                    </div>
                    <div style="margin-bottom: 20px">
                        <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao4' %}" style="margin-bottom:50px;padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Adicionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %} {%if testa_sub %}




    <div id="myModal" class="modal in fade" role="dialog" style="display:block;overflow:auto">
        <form action="{% url 'extrator:testa_substantivo_usuario'%}" method="POST" role="form" enctype="multipart/form-data">

            <div class="modal-dialog" id="modal-dialog-mob">
                <div class="modal-content">
                    {%for palav in palavras_faltantes %}

                    <div style="color:black;padding:10px;margin:10px;font-size:120%">A palavra:</div>
                    <div style="border:1px solid black;margin:10px 30px 10px 30px">
                        <div style="color:black;padding:5px;font-size:20px;text-align:center;margin-bottom:10px 10px 0px 10px;font-size:150%">
                            <b>{{palav}}</b>
                        </div>
                    </div>
                    <div style="color:black;padding:10px;font-size:120%;margin:10px">É um substantivo? </div>
                    <div style="padding:40px;display:block;margin-left:200px;">
                        <input type="radio" name="checks_{{palav}}" {{check_c}} value="sim"> Sim
                        <input type="radio" name="checks_{{palav}}" {{check_c}} value="nao"> Não

                    </div>
                    {% endfor %}
                    <div style="display:inline-block;position:relative;margin:10px;">
                        <input type="submit" class="botao_enviar" value="Enviar">
                    </div>
                </div>

        </form>

        </div>
    </div>

    {% endif %}


    <!-- jQuery -->
    <script src="{% static 'agora/vendor/jquery/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'agora/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'agora/js/grayscale.min.js' %}"></script>

    <!-- BS JavaScript -->
    <script type="text/javascript" src="{% static 'agora/js/bootstrap.js' %}"></script>

    <script src="{% static 'agora/js/main.js' %}"></script>



    <!-- MONTA RESULTADOS DO PASSO 3 -->
    {%if rede_p3 %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        var p3_json_rede = "{% static 'agora/json/p3_json_rede.json' %}";
    </script>
    <script src="{% static 'agora/js/p3_redecomplexa.js' %}"></script> {% endif %}

    <!-- MONTA RESULTADOS DO PASSO 4 -->
    {%if histo_p4 %}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
        var p4_histograma_data = "{% static 'agora/json/p4_json_histograma.json' %}";
    </script>
    <script src="{% static 'agora/js/p4_histograma.js' %}"></script> {% endif %} {% if goto %}
    <script>
        window.location.hash = '#{{goto}}';
        3
    </script> {% endif %} {% if muda_logo %}
    <script>
        var classe = document.getElementById('{{muda_logo}}');
        classe.className = "glyphicon glyphicon-ok";
        classe.style.color = "#A1E570";
    </script> {% endif %} {% if muda_logo_error %}

    <script>
        var classe = document.getElementById('{{muda_logo_error}}');
        classe.className = "glyphicon glyphicon-remove";
        classe.style.color = "red";
    </script> {% endif %}



</body>

</html>