{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'agora/bootstrap/docs/favicon.ico' %}">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <title>Resultados do ECC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'agora/css/reset.css' %}">
    <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'agora/css/style.css' %}">
    <!-- Resource style -->
    <link href="{% static 'agora/css/extrator.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'agora/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'agora/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'agora/css/grayscale.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'agora/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'agora/bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'agora/js/modernizr.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src=""></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'agora/bootstrap/docs/examples/carousel/carousel.css' %}" rel="stylesheet">




</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background:white;font-family:verdana">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Ágora Unicamp</span> Resultados
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ajuste">Ajustes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo1">Passo 1</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#passo2">Passo 2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo3">Passo 3</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo4">Passo 4</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#passo5">Passo 5</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Linha de extração</a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Resultados</h1>
                        <p class="intro-text">Mapa Orbital e Linha de apresentação dos parágrafos extraídos.
                            <br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="ajuste" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="margin-top:-50px;">
                <h2>Ajuste de Parâmetros</h2>
                <div class="container marketing" style="margin:0 auto;width:80%">
                    <a href="{% url 'extrator:limpar_lista_subtantivos'%}" class="botao_ajuste">Limpar lista de Substantivos</a>
                    <a href="{% url 'extrator:ajustar_parametro' 'opcao4' %}" class="botao_ajuste">Carregar parâmetros</a>

                    <div class="titulo_ajuste">Valor de k </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao0' %}" method="POST" role="form" enctype="multipart/form-data">
                            k =
                            <input style="width:50px" type="number" step="1" name="valor_k" value={{valork}} size="1"> %
                            dos nós da rede
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Distância relativa mínima entre temas-candidato </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao1' %}" method="POST" role="form" enctype="multipart/form-data">
                            delta =
                            <input style="width:50px" type="number" step="1" name="valor_delta" value={{valordelta}} size="1">                            %
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Frequência de corte da Distância relativa mínima </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao2' %}" method="POST" role="form" enctype="multipart/form-data">
                            fc =
                            <input style="width:50px" type="number" step="1" name="valor_fc" value={{valorfc}} size="1">                            % dos nós com dr
                            < delta <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                    <div class="titulo_ajuste">Frequência mínima do bigrama </div>
                    <div class="form_ajuste">
                        <form action="{% url 'extrator:ajustar_parametro' 'opcao3' %}" method="POST" role="form" enctype="multipart/form-data"> fb =
                            <input style="width:50px" type="number" step="1" name="valor_fb" value={{valorfb}} size="1">                            % de todos os bigramas do tema
                            <input type="submit" class="botao_enviar" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <section id="passo1" class="container content-section text-center">

        <section id="cd-timeline" class="cd-container" style="">
            
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_twitter" class="fa fa-twitter" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2 style="margin-bottom:15px" >Dados do Twitter</h2>
                    <form style="display:inline-block;text-shadow:none;color:black;" action="{% url 'extrator:dados_twitter' %}" method="POST"
                        role="form" enctype="multipart/form-data">
                        <input style="display:block" type="text" name="hashtag" placeholder="Digite uma palavra...">
                        <input style="margin-top:15px;margin-left:35%" class="cd-read-more" type="submit" value="Carregar">
                    </form>
                    <span class="cd-date">Jan 14</span>
                </div>                
            </div>          

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_vis_dados" class="glyphicon glyphicon-search" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content">
                    <h2 style="margin-bottom:15px">Visualizar Dados</h2>
                    <a  href="{% url 'extrator:dados' %}" style="text-decoration:none;margin-left:45%;" class="cd-read-more">Abrir</a>
                    <span class="cd-date">Jan 18</span>
                </div>              
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_salvar_dados" class="glyphicon glyphicon-floppy-disk" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content">
                    <h2 style="margin-bottom:15px">Salvar Dados</h2>                    
                    <a href="{% url 'extrator:salvar_iniciais' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Salvar</a>
                    <span class="cd-date">Jan 24</span>
                </div>             
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_corretor" class="glyphicon glyphicon-pencil" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content">
                    <h2 style="margin-bottom:15px">Corrigir ortografia</h2>                    
                    <a href="{% url 'extrator:corretor' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Corrigir</a>
                    <span class="cd-date">Feb 14</span>
                </div>               
            </div>
            
              <!-- começa o PASSO 2  -->
            <div id="passo2" style="padding-top:300px;">      
         
            <div class="cd-timeline-block" >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_preparar_dados" class="glyphicon glyphicon-file" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #F2B0E4">
                    <h2>Preparar Dados</h2>                    
                    <a href="{% url 'extrator:preproc' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Preparar</a>
                    <span class="cd-date">Feb 18</span>
                </div>              
            </div>
            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_lematizar" class="glyphicon glyphicon-font" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #F2B0E4">
                    <h2>Lematizar</h2>
                    <a href="{% url 'extrator:lematizador' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">lematizar</a>                   
                    <span class="cd-date">Feb 26</span>
                </div>            
            </div>

            <div class="cd-timeline-block"  >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_eliminar_sw" class="glyphicon glyphicon-scissors" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #F2B0E4"> 
                    <h2>Eliminar Stop-words</h2>                    
                    <a href="{% url 'extrator:stopwords' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Eliminar</a>
                    <span class="cd-date">Feb 18</span>
                </div>               
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_salvar_bd" class="glyphicon glyphicon-floppy-save" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #F2B0E4">
                    <h2>Salvar no Banco de Dados</h2>
                    <a href="{% url 'extrator:salvar' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Salvar</a>
                    <span class="cd-date">Feb 26</span>
                </div>               
            </div>

             <div class="cd-timeline-block"  >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_gerar_rp2" class="glyphicon glyphicon-list-alt" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #F2B0E4;">
                    <h2>Gerar Relatório</h2>                   
                    <a href="{% url 'extrator:relatorio' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                    <span class="cd-date">Feb 18</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->
       
       </div>

       
       
       <div id="passo3" style="padding-top:300px;">      
         
            <div class="cd-timeline-block" >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_def_vertices" class="glyphicon glyphicon-record" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #33e0a1">
                    <h2>Definir Vértices</h2>                    
                    <a href="{% url 'extrator:lista_vertices' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Definir</a>
                    <span class="cd-date">Feb 18</span>
                </div>              
            </div>
            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_indexar" class="glyphicon glyphicon-tags" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #33e0a1">
                    <h2>Indexar Palavras</h2>
                    <a href="{% url 'extrator:mapear' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Indexar</a>                   
                    <span class="cd-date">Feb 26</span>
                </div>            
            </div>

            <div class="cd-timeline-block"  >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_rede" class="glyphicon glyphicon-cog" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #33e0a1"> 
                    <h2>Gerar Rede Complexa</h2>                    
                    <a href="{% url 'extrator:matriz' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                    <span class="cd-date">Feb 18</span>
                </div>               
            </div>

            
            <!-- cd-timeline-block -->
       
       </div>

 <div id="passo4" style="padding-top:300px;">      
         
            <div class="cd-timeline-block" >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_calc_metricas" class="glyphicon glyphicon-plus" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #EFCEAA">
                    <h2>Calcular Métricas</h2>                    
                    <a href="{% url 'extrator:metricas_ranking' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>
                    <span class="cd-date">Feb 18</span>
                </div>              
            </div>
            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_calc_indice" class="glyphicon glyphicon-asterisk" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #EFCEAA">
                    <h2>calcular Índice</h2>
                    <a href="{% url 'extrator:calularindice' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>                   
                    <span class="cd-date">Feb 26</span>
                </div>            
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_sel_temas" class="glyphicon glyphicon-th-list" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #EFCEAA"> 
                    <h2>Selecionar Temas</h2>                    
                    <a href="{% url 'extrator:selecionar_temas' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Selecionar</a>
                    <span class="cd-date">Feb 18</span>
                </div>               
            </div>

            
            <!-- cd-timeline-block -->
       
       </div>

        <div id="passo5" style="padding-top:300px;">      
         
            <div class="cd-timeline-block" >
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_protofrases" class="glyphicon glyphicon-tasks" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #E04644">
                    <h2>Protofrases</h2>                    
                    <a href="{% url 'extrator:processarpfs'%}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Gerar</a>
                    <span class="cd-date">Feb 18</span>
                </div>              
            </div>
            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_map_extracao" class="glyphicon glyphicon-zoom-in" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #E04644">
                    <h2>Extração</h2>
                    <a href="{% url 'extrator:mapear_e_extrair' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Mapear</a>                   
                    <span class="cd-date">Feb 26</span>
                </div>            
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <span id="logo_repres" class="glyphicon glyphicon-king" style="font-size:200%;margin-top:15px;"></span>
                </div>
                <div class="cd-timeline-content" style="background: #E04644"> 
                    <h2>Representatividade</h2>                    
                    <a href="{% url 'extrator:calculair' %}" class="cd-read-more" style="margin-top:0px;margin-left:45%">Calcular</a>
                    <span class="cd-date">Feb 18</span>
                </div>               
                <div class="botao_resultados_1" style="height:0px;border:none;"></div>
            </div>

            

            
            <!-- cd-timeline-block -->
       
       </div>
       




        </section>
    
    {% if fim %}
    <div id="fim" class="botao_resultados_2"><b>RESULTADOS</b></div>
    <a href="{% url 'extrator:ajustar_parametro' 'opcao4' %}" id="texto_resultados" style="margin-top:100px;"><b>MAPA ORBITAL</b></a>
    <a href="{% url 'extrator:ajustar_parametro' 'opcao4' %}" id="texto_resultados"><b>LINHA DE EXTRAÇÃO DOS PARÁGRAFOS</b></a>
    
    {% endif %}    
        <!-- cd-timeline -->
    </section>




    </div>
    </section>
    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="background:white;">
        <div class="row" style="background:white;">
            <div class="col-lg-8 col-lg-offset-2" style="height:{{altura}}px;" style="background:white;">
                <div id="refer" style="top:{{maior_distancia}}px">
                    <div title="irt={{tema_central.3}}%" id="circle" style="top: border-radius:{{tema_central.1}}px;-webkit-border-radius:{{tema_central.1}}px;-moz-border-radius:{{tema_central.1}}px;width:{{tema_central.1}}px;height:{{tema_central.1}}px;line-height:{{tema_central.1}}px;top:-{{tema_central.2}}px;left:-{{tema_central.2}}px;"><b>{{tema_central.0}}</b></div>
                    {% for prgf in tema_central_par %}
                    <div id="refer" style="top:-{{prgf.2}}px;left:{{prgf.1}}px">
                        <div name={{prgf.4}} onMouseOver="show_sidebar(this)" onMouseOut="hide_sidebar(this)" id="circle" style="top:-15px;left:-15px;background:#C30FFF;"></div>
                    </div>
                    {% endfor %} {% for tema in vetor_temas %}
                    <div id="refer" style="top:{{tema.2}}px;left:{{tema.3}}px">
                        <div title="irt={{tema.6}}%" id="circle" style="border-radius:{{tema.4}}px;-webkit-border-radius:{{tema.4}}px;-moz-border-radius:{{tema.4}}px;width:{{tema.4}}px;height:{{tema.4}}px;line-height:{{tema.4}}px;top:-{{tema.5}}px;left:-{{tema.5}}px;"></div>
                        {% for prgf in vetor_paragrafos %} {% if prgf.0 == tema.0 %}
                        <div id="refer" style="top:-{{prgf.2}}px;left:{{prgf.1}}px">
                            <div name={{prgf.4}} onMouseOver="show_sidebar(this)" onMouseOut="hide_sidebar(this)" id="circle" style="top:-15px;left:-15px;background:#C30FFF;"></div>
                        </div>
                        {% endif %} {% endfor %}
                        <div style="position:absolute;top:{{tema.5}}px;font-size: 1vw;font-family: verdana;"> {{tema.0}} </div>
                    </div>
                    {% endfor %}
                </div>

                {% for prgf in tema_central_par %}
                <div class="quadro_paragrafo" id={{prgf.4}}>"{{prgf.3}}"</div>
                {% endfor %} {% for prgf in vetor_paragrafos %}
                <div class="quadro_paragrafo" id={{prgf.4}}>"{{prgf.3}}"</div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section" style="background: white ">

            <div style="height:{{maior_distancia}}px;margin-top:200px;">
                <div class="linha" style="position:absolute;left:10%">
                    <span title="Parágrafos mais significativos" class="glyphicon glyphicon-plus-sign" style="font-size:150%;color:black;position:absolute;top:30px;left:-15px;"></span>
                    <span title="Parágrafos menos significativos" class="glyphicon glyphicon-minus-sign" style="font-size:150%;color:black;position:absolute;top:30px;left:100%;"></span>                    {% for p in paragrafos_linha %}
                    <div title="irgs={{p.1}}%" id="circle" name={{p.2}} onclick="mostrar_paragrafo(this)" style="width:40px;height:40px;background:#C30FFF;left:{{p.2}}%"></div>
                    {% endfor %}

                </div>
            </div>

        </div>
        <div class="quadro_linha">
            {% for p in paragrafos_linha %}
            <div id={{p.2}} class="par">"{{p.0}}"</div>
            {% endfor %}

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and
                    themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

   
   
   
   
   
   
   
   
   
    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        
  
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
            {{popup}}
        </div>
    </footer>
    
{%if popup %}
    <div id="myModal" class="modal in fade" role="dialog" style="display:block;overflow:auto">
      <div class="modal-dialog" id="modal-dialog-mob" style="width: 40%;margin-bottom:10px;">
        <div class="modal-content" >
          <div style="color:black;padding:10px;margin:10px;font-size:120%">Palavra não reconhecida:</div>
          <div style="border:1px solid black;margin:10px 30px 10px 30px">
            <div style="color:black;padding:5px;font-size:20px;text-align:center;margin-bottom:10px 10px 0px 10px;font-size:150%"><b>{{palavra}}</b></div>
          </div>
          <div style="color:black;padding:10px;font-size:120%;margin:10px">Faça uma das 5 opções: </div>
          <div style="border:0.5px solid black;margin:10px 30px 30px 30px">
            <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Ignorar "{{palavra}}": </div>
            <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao0' %}" style="padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Ignorar</a>
            <hr style="border-top: 1px solid #848484">

            <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Incluir "{{palavra}}" ao dicionário: </div>
            <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao1' %}" style="padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Adicionar</a>
            <hr style="border-top: 1px solid #848484">
            <div style="color:black;padding:10px;font-size:120%;margin:10px">Substituir "{{palavra}}" por uma das sugestões: </div>
            <div style="margin:0px 20px 0px 20px">
              {% for sugestao in lista_de_sugestoes %}
              <a href="{% url 'extrator:atualiza_corretor' sugestao posicao 'opcao2' %}" style="padding:8px;margin:5px;display:inline-block;color:black;text-align:center;background:#e07070">{{sugestao}}</a>              {% endfor %} {% if not lista_de_sugestoes %}
              <div style="margin-left:40%;">não há sugestões</div>
              {% endif %}
            </div>
            <hr style="border-top: 1px solid #848484">
            <div style="color:black;padding:10px;font-size:120%;margin:10px">Substituir "{{palavra}}" e adicionar ao dicionário: </div>
            <div style="margin-left:5%;margin-bottom:20px">
              <form action="{% url 'extrator:atualiza_corretor' 'null' posicao 'opcao3' %}" method="POST" role="form" enctype="multipart/form-data">
                <input type="text" name="sugestao_usr" required="required">
                <input style="padding:10px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="Substituir"
                  name="substituir">
                <input style="padding:10px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="Substituir todas as ocorrências"
                  name="todas">
              </form>
            </div>
            <hr style="border-top: 1px solid #848484">
            <div style="color:black;padding:20px;font-size:16px;margin:0 auto">Adicionar "{{palavra}}" às stop-words (a palavra aparecerá novamente para escolha de uma das opções acima): </div>
            <div style="margin-bottom: 20px">
              <a href="{% url 'extrator:atualiza_corretor' palavra posicao 'opcao4' %}" style="margin-bottom:50px;padding:10px;margin-left:45%;color:black;text-align:center;background:#e07070;">Adicionar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %} 

    {%if testa_sub %}
    <div id="myModal" class="modal in fade" role="dialog" style="display:block;overflow:auto">
      <div class="modal-dialog" id="modal-dialog-mob">
        <div class="modal-content">
          <div style="color:black;padding:10px;margin:10px;font-size:120%">A palavra:</div>
          <div style="border:1px solid black;margin:10px 30px 10px 30px">
            <div style="color:black;padding:5px;font-size:20px;text-align:center;margin-bottom:10px 10px 0px 10px;font-size:150%"><b>{{palavra_candidata}}</b></div>
          </div>
          <div style="color:black;padding:10px;font-size:120%;margin:10px">É um substantivo? </div>
          <div style="padding:40px;display:block;margin-left:200px;">
            <form action="{% url 'extrator:testa_substantivo_usuario' palavra_candidata %}" method="POST" role="form" enctype="multipart/form-data">
              <input style="padding:20px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="sim" name="opcao_usr">
              <input style="padding:20px;color:black;text-align:center;background:#e07070;border:none" type="submit" value="nao" name="opcao_usr">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}   

    <!-- jQuery -->
    <script src="{% static 'agora/vendor/jquery/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'agora/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'agora/js/grayscale.min.js' %}"></script> 

    <!-- BS JavaScript -->
    <script type="text/javascript" src="{% static 'agora/js/bootstrap.js' %}"></script>
    <script src="{% static 'agora/js/main.js' %}"></script>
    
    {% if goto %}
    <script>
        window.location.hash = '#{{goto}}';
        3
    </script>

    {% endif %} 
    
    {% if muda_logo %}
    <script>
         var classe = document.getElementById('{{muda_logo}}');
         classe.className = "glyphicon glyphicon-ok";
         classe.style.color = "#A1E570";
    </script>
    {% endif %}

    {% if muda_logo_error %}
    <script>
         var classe = document.getElementById('{{muda_logo_error}}');
         classe.className = "glyphicon glyphicon-remove";
         classe.style.color = "red"; 
    </script>
    {% endif %}

    <script type="text/javascript">
        function show_sidebar(name) {
            var nome = name.attributes["name"].value;
            document.getElementById(nome).style.visibility = "visible";

        }

        function hide_sidebar(name) {
            var nome = name.attributes["name"].value;
            document.getElementById(nome).style.visibility = "hidden";
        }

        function mostrar_paragrafo(name) {
            var nome = name.attributes["name"].value;
            cond = document.getElementById(nome);

            if (cond.style.visibility == "hidden") {
                cond.style.visibility = "visible";
            }
            else {
                cond.style.visibility = 'hidden';
            }
        }
    </script>
    

</body>
</html>