{% extends 'agora/base.html' %}
{% load set_var %}
{% block content12 %}


<div style="filter:alpha(opacity=100);background-color:#FFD792;position:fixed;background-attachment:fixed;width:100%;top:40px;z-index:2;">
      <section class="content-header">
        <h1> Plano Diretor Participativo - UNICAMP <small>Resultados</small></h1>
      </section>
      <ol class="breadcrumb">
        <li><a href="\agora"> Página Inicial</a></li>
        <li><a href="\agora\pdpu"></i> PDPU</a></li>
        <li class="active">Resultados</li>
      </ol>   
      <form   style="position:relative;left:31px;top:-10px;" method="post"  action="{% url 'resultados:search_res'%}">
        <input  size="35" id="search_box" name="q"  placeholder="Procure um resultado pelas hashtags" >
        <button id="search_submit" value="search_res" >Buscar</button>
      </form>         
 </div>

    <table style="border-spacing:0 ; border-collapse: collapse; margin:1em 0; background:transparent; width:100%;position:relative;top:150px;z-index:1;margin-bottom:300px;">
    <tbody>
    <tr> 
    <td style="padding:0 0.5em;">
    </td>    
    <td style="width:68%;">
            
                
            {% for Relatorio in object_list %}               
            {% if Relatorio.published == 'Sim' %}
            
            <div id="relatorio{{Relatorio.id}}" class="relatorio" style="margin-bottom: 20px; padding:0px; overflow:hidden;">
            <iframe src="{{ Relatorio.address}}" style="overflow:hidden;height:100%;width:100%;" height="100%" width="100%" frameborder="0" marginheight="0" marginwidth="0" width="100%" hspace="0" vspace="0" ></iframe><br>          
            </div>   
            
            <script>
            $(".relatorio").each(function() {
                var iframe =  $(this).find("iframe");
                iframe.load(function () {
                    var altura = iframe.contents().find("html").height();
                    $(this).css("height", altura);
                });
            });
            </script>
             
            {% endif %}     
            {% endfor %}        
            
     </td>
     
     <td style="padding:0 0.5em;height:1000px">
     </td>
     
     <td style="width:32%; vertical-align:top;">
        
        
        
  
        <div style="border:1px solid #abd5f5;">
        <div id="mf-apresenta.C3.A7.C3.A3o" style="background:#abd5f5; border-bottom:1px solid #abd5f5; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">Resultados - Geral</div>
        <div id="mf-apresenta.C3.A7.C3.A3o" style="padding:0.4em 1em 0.3em;">        
        <p>         
                    
                    {% for Relatorio in object_list %}               
                    {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "1" %}               
                    <p>               
                       <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ Relatorio.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{Relatorio.titulo }}<br> </a></li><h4>
                    {% endif %}
                    </p>         
                    {% endfor %}
        </p>   
        <div class="plainlinks hlist" style="clear:both; border-top:1px solid #abd5f5; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
        </div>      
        </div><br>

        <div style="border:1px solid #abd5f5;">
        <div id="mf-apresenta.C3.A7.C3.A3o" style="background:#abd5f5; border-bottom:1px solid #abd5f5; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">Resultados - Questões</div>
        <div id="mf-apresenta.C3.A7.C3.A3o" style="padding:0.4em 1em 0.3em;">        
        <p>         {% for Relatorio in object_list %}               
                    {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "2" %}               
                    <p>               
                       <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ Relatorio.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ Relatorio.titulo }}<br> </a></li><h4>
                    {% endif %}
                    </p>         
                    {% endfor %}
        </p>   
        <div class="plainlinks hlist" style="clear:both; border-top:1px solid #abd5f5; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
        </div>      
        </div>
     </td>
      
    
    
    
    
    
    
       
       
    <td style="padding:0 0.5em;"></td>
    
        
    </tr>
    </tbody>
    </table>
  
    </td>









<div  style="position: absolute; top: 200px;width:100%;left:250px" >
 {% set flag1 = 3 %}
  {% for Question in object_list %}
    {% for q in q %}
      {% if Question.pk|slugify == q.questao and Question.permissao == 1 %}
        {% set flag1 = 1 %}
      {% endif %}
    {% endfor %}
    {% if flag1 == 1 %}

      <br />
      <iframe src="http://127.0.0.1:8000/agora/pdpu/participe/{{ Question.pk }}/results" width="1000" height="400"></iframe>
      {# mostra da timeline a página da questão #}
      <br />

    {% endif %}
    {% set flag1 = 3 %}
  {% endfor %}
</div>
{% endblock content12 %}