{% extends 'agora/base.html' %}
{% load set_var %}
{% load staticfiles %}
{% block content12 %}


    <div style="position:relative;background:#ffffff;width:1050px;z-index:2;top:40px">    
        <div style="background:#f39c12;font-size:40px;padding:20px">Plano Diretor Participativo - UNICAMP</div>
        
      
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:home' %}"><div style="text-color:#e2e0e0;text-align:center;padding:10px;position:relative;height:40px;background:#e2e0e0;width:175px;float:left;">Home Ágora</div></a> 
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f7f7f7;width:175px;float:left">Página Inicial</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'conheca:pdpu-conheca' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#00c0ef;width:175px;float:left">Conheça</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu-participe' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#12d673;width:175px;float:left">Participe</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'resultados:pdpu-resultados' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f39c12;width:175px;float:left">Resultados</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'forum:home' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f56954;width:175px;float:left">Comunidade</div></a>  
    </div>

  
            
    <div style="position:relative;width:60%;float:left;margin-left:15px;top:100px;margin-bottom:200px;min-height:250px">            
            {% for Relatorio in object_list %}               
            {% if Relatorio.published == 'Sim' %}
            
            <div style="border:1px solid #f39c12;width:100%;margin:0 auto;">
                                                    
                                            <div id="mf-eventos-atuais" style="background:#f39c12; border-bottom:1px solid #f39c12; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">
                                            {% if Relatorio.questao == None %}
                                            Resultado Geral
                                            {% endif %}
                                             
                                            {% if Relatorio.questao != None %}
                                            Resultado {{ Relatorio.questao }}
                                            {% endif %}
                                                        
                                
                                
                                            </div>
                                            <div id="relatorio{{Relatorio.id}}" style="padding:0.4em 1em 0.3em;">
                                                
                                                <p>
                                                {% for tag in Relatorio.tags.all %}                                                                                              
                                                <form style="float:left;" action="{% url 'agora:search' tag.name %}" method="post">
                                                <input style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
                                                </form>
                                                {% endfor %}     
                                                <strong>Publicado em:</strong> {{ Relatorio.publ_date }}
                                                </p>
                                                
                                                <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; font-size:95%; font-weight:bold;">               
                                                </div>
                                                
                                                {{Relatorio.conteudo|safe}}
                                              
                                                    <br>  
                                             
                                                <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; font-size:95%; font-weight:bold;">
                                                </div>
                                                
                                               
                                                
                                                <!-- <button class="btn btn-primary" type="submit" name="like" id="like" value="1"bmit Review</button>{{relatorio.like}} -->
                                         
                                               
                                                    
                                                &nbsp;&nbsp; 
                                                <form  style="display:inline-block;" action="{% url 'resultados:like_timeline' Relatorio.id %}" method="post">
                                                {% csrf_token %}
                                                <input  id="like" name="like1" type="image" src="{% static "resultados/like.jpg" %}" alt="like"  value="Vote" height="22" width="22" />&nbsp;{{Relatorio.like}}
                                                </form>
                                
                                                &nbsp;
                                                <form style="display:inline-block;" action="{% url 'resultados:dislike_timeline' Relatorio.id %}" method="post">
                                                {% csrf_token %}                
                                                <input  id="dislike" name="dislike1" type="image" src="{% static "resultados/dislike.jpg" %}" alt="dislike"  value="Vote" height="22" width="22" />&nbsp;{{Relatorio.dislike}}
                                                </form>
                                            </div>            
                                </div>
                                </br>
            
    
        {%endif%}
        {%endfor%}
  </div> 
   {% set x = 0 %}
   {% for Relatorio in object_list %}               
   {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "1" %}  
       {% set x = 1 %} 
   {% endif %}
   {% endfor %}     
    <div style="position:relative;float:right;top:100px;margin-right:15px;width:35%;"> 
  {% if x = 1 %} 
 
        <div style="border:1px solid #f39c12;">
        <div id="mf-apresenta.C3.A7.C3.A3o" style="background:#f39c12; border-bottom:1px solid #f39c12; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">Resultados - Geral</div>
        <div id="mf-apresenta.C3.A7.C3.A3o" style="padding:0.4em 1em 0.3em;">        
        <p>         
                    
                    {% for Relatorio in object_list %}               
                    {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "1" %}               
                            
                    <p>               
                       <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ Relatorio.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{Relatorio.titulo }}<br> </a></li><h4>
                    {% endif %}
                    </p>         
                    {% endfor %}
        </p>   
        <div class="plainlinks hlist" style="clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
        </div>      
        </div><br>
   {% endif %}

   {% set x = 3 %}
   {% for Relatorio in object_list %}               
   {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "2" %}  
       {% set x = 4 %} 
   {% endif %}
   {% endfor %}     

   {% if x == 4 %}
        <div style="border:1px solid #f39c12;">
        <div id="mf-apresenta.C3.A7.C3.A3o" style="background:#f39c12; border-bottom:1px solid #f39c12; padding:0.2em 0.5em; font-size:125%; font-weight:bold;">Resultados - Questões</div>
        <div id="mf-apresenta.C3.A7.C3.A3o" style="padding:0.4em 1em 0.3em;">        
        <p>         {% for Relatorio in object_list %}               
                    {% if Relatorio.publhistorico == 'Sim' and Relatorio.tipo == "2" %}               
                    <p>               
                       <h4><li style="margin:20px;" type="disc"><a href="#" onclick="window.open('{{ Relatorio.address }}', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">{{ Relatorio.titulo }}<br> </a></li><h4>
                    {% endif %}
                    </p>         
                    {% endfor %}
        </p>   
        <div class="plainlinks hlist" style="clear:both; border-top:1px solid #f39c12; padding-top:0.4em; margin-top:0.8em; text-align:end; font-size:95%; font-weight:bold;"><span style="white-space:nowrap;"> </a></span></div>
        </div>      
        </div>
    {% endif %}
</div>
        

{% endblock %}
