<div id="p{{artigo.pk}}" class="post conheca">
  <div class="post-content">
    <div class="post-header">
      <ul class="filters filters-post">
      {% for tag in artigo.tags.all %}
        <li>{{tag.name}}</li>
      {% endfor %}
      </ul>
      <h3>{{ artigo.title }}</h3>
    </div>
    <div style="padding:10px">Publicado em <b>{{artigo.publ_date}}</b></div>
    <div class="post-text">
      <div>
        {{artigo.text|safe}}
      </div>
    </div>
  </div>
  <div class="post-right">
  </div>
</div>
