<div class="reply" id="reply{{reply.pk}}">

  <div class="reply-header">

    <div class="reply-author">
      <span>{{reply.user}}</span>
    </div>

    {% if user == reply.user %}
    <button type="button" class="post-btn edit-reply-btn">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>

    <form class="reply-delete-form" method="POST" action="{% url 'agoraunicamp:delete_reply' reply.pk  %}">
      <button type="submit" class="post-btn">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </form>
    {% endif %}

    <div class="reply-date">
      <div>
        {{reply.answer_date|date:'d-m-Y'}}
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <div>
        {{reply.answer_date|date:'H:i'}}
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
    </div>

  </div>


  <form class="edit-reply-form" action="{% url 'agoraunicamp:answer_reply_edit' reply.pk  %}" method="POST" style="display:inline">
    <div class="reply-body">
      <div class="reply-avatar">
        <img class="avatar avatar-small" src='{{reply.user.avatar.url}}' />
      </div>
      <div class="reply-text">
        {{reply.text}}
      </div>
      <textarea name="text" class="form-control" ></textarea>
      <button type="submit" class="post-btn edit-reply-btn">Editar</button>
  </form>

  </div>


</div>