#circle {
    position:absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #33CCFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
    font-size: 1vw;
    font-family: verdana;
       
}

#refer {
    position: absolute;
    top: 50%;
    left: 50%;      
}

.quadro_paragrafo{
    position:fixed;
    border:black;
    top:75%;
    left:70%;    
    width:30%;
    height: 25%;
    background: transparent;
    visibility:hidden;   
    font-size: 1.2vw;
    text-align: center; 
    font-family: verdana;      
}

.quadro_linha{
    position:relative;
    border:black;
    left:10%;  
    width:80%;
    background:transparent;
    font-size: 1vw;
    text-align: center;
    overflow: auto;
       
}

.par{
    visibility: hidden;
    font-size: 1.2vw;
    font-family: verdana;
}


.linha{
    border-bottom: 1px solid black;
    width:80%;
    height: 20px;    
}

.botao_ajuste{    
    display:block;
    margin:0 auto;
    margin-top:30px;
    height:50px;
    width:250px;
    font-size:100%;
    background:#33CCFF;
    color:black;
    text-align: center;
    line-height: 50px;
    font-size: 110%; 
}

.titulo_ajuste{
    margin-top:40px;
    padding:5px;
    text-align: center;
    font-size: 110%;
}

.form_ajuste{
    padding:5px;
    text-align: center;
    font-size: 110%;
}

.botao_enviar{
    background:#FFC106;
    border: 0;
    padding:10px;
    margin-left:10px;
}

.botao_resultados_1{
    
    border: 4px solid #33CCFF;
    margin-left:416px;
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 1;
    margin-top:180px;    
}

.botao_resultados_2{    
    border: 4px solid #33CCFF;
    margin-left:470px;
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 1;
    margin-top:-46px;
}

.inicio_timeline{
    border: 4px solid #33CCFF;
  
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 3;
    margin: 0 auto;
    margin-top:300px;
    font-family: Verdana;
}

.sem_resultado{
    position:relative;
    border: 4px solid #33CCFF;   
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 3;    
    font-family: Verdana;
    margin:0 auto;
    margin-top:00x;
}



.executar_passos{
    border: 4px solid #33CCFF;
    margin-left:410px;
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 3;
    margin-top:0px;
    font-family: Verdana;
}

.result-content{
    position:relative;
    width:100%;
    height:700px;
    border: 4px solid #33CCFF;
    overflow: auto;
    margin-top:100px;
}

.executar_passos{
    border: 4px solid #33CCFF;
    margin-left:410px;
    background:white;
    width:200px;
    height:50px;
    border-radius: 30px;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size:110%;
    z-index: 3;
    margin-top:0px;
    font-family: Verdana;
}

.branch{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: -2em;
    position:absolute;
    border: 4px solid #33CCFF;
    left:491px;
    top:950px;
    background:white;
    width:270px;
    height:140px;
    z-index: 3;
    margin-top:-100px;
    font-family: Verdana;

}





#texto_resultados{
    display:block;
    color:black;
    font-size:150%;
    padding:40px;
    margin: 0 auto;
    text-align: center;
    
}

.bar {
    fill: steelblue;
    shape-rendering: crispEdges;
}
  
.bar text {
    fill: #000;
}
  
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
  
.title {
    font-size: 14px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
 
.node text { 
    font: 12px sans-serif;
 }
 
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}