{% extends 'agora/base.html' %}
{% load set_var %}
{% block content12 %}

    <div style="position:relative;background:#ffffff;width:1050px;z-index:2;top:40px">    
        <div style="background:#00c0ef;font-size:40px;padding:20px">Plano Diretor Participativo - UNICAMP</div>
        
      
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:home' %}"><div style="text-color:#e2e0e0;text-align:center;padding:10px;position:relative;height:40px;background:#e2e0e0;width:175px;float:left;">Home Ágora</div></a> 
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f7f7f7;width:175px;float:left">Página Inicial</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'conheca:pdpu-conheca' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#00c0ef;width:175px;float:left">Conheça</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'agora:pdpu-participe' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#12d673;width:175px;float:left">Participe</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'resultados:pdpu-resultados' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f39c12;width:175px;float:left">Resultados</div></a>  
        <a style="color:#000000;font-weight: bold;" href="{% url 'forum:home' %}"><div style="text-align:center;padding:10px;position:relative;height:40px;background:#f56954;width:175px;float:left">Comunidade</div></a>  
    </div>

    <table style="border-spacing:0 ; border-collapse: collapse; margin:1em 0; background:transparent; width:100%;position:relative;top:100px;z-index:1;margin-bottom:300px;">
    <tbody>
    <tr>

    <td style="padding:0 0.5em;">
    </td>

    <td style="width:68%;vertical-align:top;">


            {% for Article in object_list %}
            {% if Article.destaque == 'Sim' and Article.published == 'Sim' %}

            <div id="artigo{{Article.id}}" class="artigo" style="margin-bottom: 20px; padding:0px; overflow:hidden;">
            <iframe src="{{ Article.address}}/destaque" style="overflow:hidden;height:100%;width:100%;" height="100%" width="100%" frameborder="0" marginheight="0" marginwidth="0" width="100%" hspace="0" vspace="0" onload='javascript:resizeIframe(this);' ></iframe><br>
            </div>

            {% endif %}
            {% endfor %}


            {% for Article in object_list %}
            {% if Article.destaque == 'Não' and Article.published == 'Sim' %}

            <div id="artigo{{Article.id}}" class="artigo" style="margin-bottom: 20px; padding:0px; overflow:hidden;">
            <iframe src="{{ Article.address}}" style="overflow:hidden;height:100%;width:100%;" height="100%" width="100%" frameborder="0" marginheight="0" marginwidth="0" width="100%" hspace="0" vspace="0" onload='javascript:resizeIframe(this);'  ></iframe><br>
            </div>


            {% endif %}
            {% endfor %}



            <script language="javascript" type="text/javascript">
            function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
            }
            </script>

     </td>
     <td style="padding:0 0.5em;height:1000px">
     </td>
     <td style="width:32%; vertical-align:top;">


         {% for topico in topico %}
                       <iframe src="{{ topico.address_topico}}" style="font-size: 0px;vertical-align:bottom;display:block;" frameborder="0" marginheight="0" marginwidth="0" width="100%" onload="this.style.height=(this.contentDocument.body.scrollHeight + 10) + 'px'"></iframe><br>
         {% endfor %}
     </td>









    <td style="padding:0 0.5em;"></td>


    </tr>
    </tbody>
    </table>

    </td>


    {% endblock content12 %}
